<div th:fragment="bodyHeader">
    <!--  상단 네비게이션 바-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">우주마켓</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">홈</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="memberNavbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            회원
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="memberNavbarDropdown">
                            <li><a class="dropdown-item" href="/members/add">회원 가입</a></li>
                            <li><a class="dropdown-item" href="/members">회원 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="itemNavbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            상품
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="itemNavbarDropdown">
                            <li><a class="dropdown-item" href="/items/add">상품 등록</a></li>
                            <li><a class="dropdown-item" href="/items">상품 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="orderNavbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            주문
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/orders/add">상품 주문</a></li>
                            <li><a class="dropdown-item" href="/orders">주문 조회</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>